/*
* Responsive code for website
*/
@media screen and (max-width:800px)
{   
    main
    {
       width:80vw !important;
    }
    #gallary img
    {
        margin:5%;
        width:90%;
    }
}
@media screen and (max-width:780px)
{   
    .icon
    {
        width:50px;
        height:50px;
    }
    #box1
    {

        flex-flow: column wrap;
    }
    .box h2:nth-last-child(2)
    {
        border-right: 200px solid #222;
    }
    #detail p
    {
        margin-right:50px;
        padding:20px;
    }
    #picture img
    {
        border-left:none;
        border-top:2px solid crimson;
    }
    #gallary
    {
       grid-template-columns: 1fr;
    }
    #gallary img
    {
        margin:5%;
        width:90%;
    }
    form[name="message"]
    {
        grid-template-columns:100%;
        grid-template-rows:1fr 1fr 1fr 5fr 1fr 1fr !important;
    }
    textarea
    {
        grid-row:4/5;
    }
    .field:nth-child(2)
    {
        grid-column: 1/-1;
        grid-row:2/3;
    }
    .field:last-child
    {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    .button:first-child
    {
        grid-column: 1/-1;
        grid-row: 5/6;
    }
    .button:last-child
    {
        grid-column: 1/-1;
        grid-row:6/7;
    }
}
@media screen and (max-width:650px)
{
    .box h2:nth-last-child(2)
    {
        border-right: 100px solid crimson;
    }
    .right
    {
        margin:50px auto !important;
    }
}