/*
* Website 13 
* FRAME : box 2 detail CSS
*/

#box2
{
    width:100%;
    height:auto;
    display:grid;
}
#info
{
    padding:20px;
}
#gallary
{
    position:relative;
    width:100%;
    height:auto;
    display:grid;
    grid-template-columns:repeat(2,1fr);
}
#gallary img
{
    margin:5%;
    width:90%;
    height:auto;
    object-fit:cover;
}
#gallary img:hover
{
    border-left:3px solid crimson;
}